$text: #ffffff;
$black: #3b3b3b;
$purple: #db3259;


@mixin f300 {
    font-family: "Roboto-Light", sans-serif;
    font-weight: 300;
}
@mixin f700 {
    font-family: 'Roboto-Bold', sans-serif;
    font-weight: 700;
}
@mixin purple-btn {
  background: $purple;
  color: $text;
  border: none;
  border-radius: 4px;
  padding: 12px 32px;
  cursor: pointer;
  
  &:hover {
    background: #ba1d41;
    transition: all 1700ms;
  }
}